%section#survey
  =image_tag('colored-pencils-656158_1920.jpg', class: 'pull-right hidden-mobile', width: '25%')
  %h2.sub-title Survey
  %p Please complete the community school survey to provide input, express interest and ask questions. We are soliciting input from interested parents, as well as potential volunteers and supporters who would like to contribute to the school in other ways.
  =link_to('Click Here for the Survey', 'http://www.surveymonkey.com/s/NOTLcommunityschool', target: '_blank', class: 'big-link sub-title')
  %p
    %span Please continue to visit out website at
    =link_to('www.royaloakcommunityschool.com', 'http://www.royaloakcommunityschool.com', target: '_blank')
    %span for updates, to ask question and to share your great ideas.
