%section#application
  %h2.sub-title Application Form
  =link_to 'Download Application Form', asset_path('ROCS-Application-for-Admission.pdf'), :download => ''
  %h3 Submission Instructions
  %ol
    %li Click on link above to download form. For IE Users: "Right click" the link and hit "Save target as" to download file.
    %li Open downloaded file and print it
    %li Fill out form
    %li Mail completed form to: P.O. Box 1385, NOTL, ON, L0S1J0