%section#fees
  %h2.sub-title Fees and Payment
  .relative.embed-box
    .hidden-not-mobile
      %embed{:src => asset_path('ROCS-Tuition-Schedule.pdf'), :width => '100%', :height => '50%'}
    .hidden-mobile
      %embed{:src => asset_path('ROCS-Tuition-Schedule.pdf'), :width => '100%', :height => '60%'}
