//add content to all h type tags (h1, h2, h3, h4, h5, h6)
@mixin hx() {
  @for $index from 1 through 6 {
    h#{$index} {
      @content;
    }
  }
}

@mixin form_p_spacing() {
  padding-bottom: 20px;
  margin-bottom: 10px;
}

@mixin button() {
  background-color: $menu-button-bg-color;
  color: $menu-text-color;
  &:active, &:hover, &:focus, &:visited {
    background-color: $menu-button-bg-hover-color;
    color: $menu-text-color;
  }
}

@mixin menu_item() {
  color: $menu-text-color;
  &:active, &:focus, &:visited {
    background-color: $menu-bg-color;
    color: $menu-text-color;
  }
  &:hover {
    background-color: $menu-bg-hover-color;
    color: $menu-text-color;
  }
}