//colors
$bg-color: white;
$menu-bg-color: #335733;
$menu-button-bg-color: #557755;
$menu-bg-hover-color: $menu-button-bg-color;
$footer-bg-color: $menu-bg-color;
$text-color: #06003a;
$h-color: $text-color;
$menu-text-color: white;
$footer-text-color: $menu-text-color;
$border-color: $text-color;
$error-color: red;
$success-color: green;

//fixed dimensions
$header-height: 79px;
$nav-height: 52px;
$total-header-height: $header-height + $nav-height + 20px;
$footer-height: 40px;
$logo-height: $header-height;
$logo-ratio: 2.63;
$logo-width: $logo-height * $logo-ratio;
