/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

//Add libraries
@import "bootstrap-sprockets";
@import "bootstrap";

//Add general purpose items
@import "variables";
@import "media";
@import "mixins";

//Create main style
body {
  background-color: $bg-color;
  color: $text-color;
}
header {
  background-color: $bg-color;
  text-align: center;
  .title {
    @include make_responsive("font-size", ($phone 16px, $tablet 24px));
  }
}
.navbar-default {
  background-color: $menu-bg-color;
  @include make_responsive("font-size", ($small 11px));
  .navbar-toggle {
    background-color: $menu-button-bg-color;
    &:active, &:hover, &:focus, &:visited {
      background-color: $menu-button-bg-color;
    }
  }
}
.horiz-center {
  margin: 0 auto;
  display: block;
}
.main {
  padding-top: $header-height;
  padding-bottom: $footer-height;
  @include hx() {
    padding-bottom: 15px;
  }
  p {
    padding-bottom: 50px;
  }
}
.sub-title {
  text-align: left;
}
.big-link {
  display: block;
  font-size: 24px;
  padding-bottom: 50px;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
footer {
  background-color: $footer-bg-color;
  border-top: 1px solid $border-color;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 10px;
  height: $footer-height;
  @include make_responsive("font-size", ($phone 8px));
}
.relative {
  position: relative;
}

//Add page specific styling
@import "committee";
@import "location";
@import "news";
@import "philosophy";
@import "program";
@import "survey";
@import "welcome";
