/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

//Add libraries
@import "bootstrap-sprockets";
@import "bootstrap";

//Add general purpose items
@import "variables";
@import "media";
@import "mixins";

//Create main style
body {
  background-color: $bg-color;
  color: $text-color;
}
header {
  background-color: $bg-color;
  text-align: center;
  .container {
    position: relative;
    height: $header-height;
  }
  .logo {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -($logo-height) / 2;
    width: $logo-width;
    img {
      width: $logo-width;
    }
  }
  .title {
    margin-left: $logo-width;
    @include make_responsive("margin-top", ($phone 36px, $tablet 29px));
    @include make_responsive("margin-bottom", ($phone 18px, $tablet 14px));
    @include make_responsive("font-size", ($phone 14px, $tablet 24px));
  }
}
.navbar-default {
  background-color: $menu-bg-color;
  border-color: $border-color;
  border-left: none;
  border-right: none;
  @include make_responsive("font-size", ($small 8px, $normal 12px));
  .navbar-toggle {
    background-color: $menu-button-bg-color;
    color: $menu-text-color;
    &:active, &:hover, &:focus, &:visited {
      background-color: $menu-button-bg-color;
    }
  }
  .navbar-nav {
    > li > a, > .open > a {
      color: $menu-text-color;
      &:active, &:hover, &:focus, &:visited {
        background-color: $menu-bg-color;
        color: $menu-text-color;
      }
      &:hover {
        background-color: $menu-bg-hover-color;
      }
    }
  }
  .dropdown-menu {
    background-color: $menu-bg-color;
    > li > a {
      color: $menu-text-color;
      &:active, &:hover, &:focus, &:visited {
        background-color: $menu-bg-hover-color;
        color: $menu-text-color;
      }
    }
    color: $menu-text-color;
  }
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.main {
  padding-top: $total-header-height;
  padding-bottom: $footer-height;
  @include hx() {
    padding-bottom: 15px;
    color: $h-color;
  }
  p {
    padding-bottom: 50px;
  }
  form {
    p, .form-element {
      @include form_p_spacing();
    }
    label {
      display: block;
    }
    input[type="text"], textarea {
      width: 80%;
    }
    textarea {
      height: 100px;
    }
  }
}
footer {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  border-top: 1px solid $border-color;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 10px;
  @include make_responsive("padding-top", ($phone 15px));
  height: $footer-height;
  @include make_responsive("font-size", ($phone 8px));
}
.horiz-center {
  margin: 0 auto;
  display: block;
}
.sub-title {
  text-align: left;
}
.big-link {
  display: block;
  font-size: 24px;
  padding-bottom: 50px;
}
.relative {
  position: relative;
}
ul.seperator-list {
  padding-left: 0;
  > li {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid $border-color;
    p {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
.main-logo {
  min-width: 250px;
  @include make_responsive("float", ($desktop right));
  @include make_responsive("margin", ($mobile (0 auto)));
  @include make_responsive("display", ($mobile block));
}
.error-message {
  h3 {
    color: $error-color;
  }
  color: $error-color;
}
.success-message {
  color: $success-color;
  p {
    @include form_p_spacing();
  }
}
.field_with_errors {
  label {
    color: $error-color;
  }
  input, textarea {
    border: 2px solid $error-color;
  }
}

//Add page specific styling
@import "committee";
@import "contact";
@import "location";
@import "news";
@import "philosophy";
@import "program";
@import "survey";
@import "welcome";
