%section#news
  =image_tag('newspapers-and-glasses-1341392353G4g.jpg', class: 'pull-right hidden-mobile', width: '25%')
  %h2.sub-title News
  %h3
    %span Public Meeting June 23
    %sup rd
  %p
    %span There will be a Royal Oak Community School information session at the Community Centre on Tuesday, June 23
    %sup rd
    %span at 7p.m. for anyone who is interested in learning more about our new community school.
