%section#news
  %h2.sub-title News
  %h3
    %span Public Meeting June 23
    %sup rd
  %p
    %span There will be a Royal Oak Community School information session at the Community Centre on Tuesday, June 23
    %sup rd
    %span at 7p.m. for anyone who is interested in learning more about our new community school.
