%section#program
  %h2.sub-title Our Program
  %h3 We are dedicated to delivering superior academic education:
  %ul
    %li Low student teacher ratio(small class and individual attention)
    %li Comprehensive French program as a foundation for other languages
    %li Modeled on the International Baccalaureate inquiry based Primary Years Program
    %li Education that is linked to and grounded in our community with a global outlook
