%section#welcome
  %h2 Introducing Royal Oak Community School
  %p With the closing of Niagara-on-the-Lake's public elementary school, a committee of residents has developed Royal Oak Community School - a new, not-for-profit independent school to begin in September 2015. Royal Oak will offer elementary classes with the goal of expanding to secondary.
  %h2 Why Royal Oak Community School?
  %p Niagara-on-the-Lake is one of the most attractive communities in Canada, with a rich and proud history. Healthy vibrant communities thrive and grow in a sustainable way when they attract residents and families of many ages and backgrounds, and one of the most important ways in which they do this is by providing core community facilities - including a school. The opening of Royal Oak in September 2015 ensures that Niagara-on-the-Lake continues to have a school that serves the community, our children - and our future.
