%section#philosophy
  %h2.sub-title Our Philosophy
  %div
    %h3 Our Motto
    %div Inspiratio. Communitas. Laurus.
    %div (Inspiration. Community. Success.)
  %div
    %h3 Our Vision
    %p Royal Oak is not-for-profit community school offering a world-class, well-rounded education - focused on project-based creative learning and fostered through a meaningful connection to individuals and our community.

