%section#location
  =image_tag('tree-402953_1920.jpg', class: 'pull-right hidden-mobile', width: '25%')
  %h2.sub-title Location, Enrolling and Volunteering
  %p Royal Oak Community School will open in September 2015 serving elementary grades. We plan to expand in coming years to secondary school.
  %p We are still determining our lower elementary school's location. It will be somewhere in Old Town between the old high school site and the Lake Ontario/Niagara River shoreline. The site will be confirmed shortly based on availability and community interest.
  %p Royal Oak Community School will be independant and privately funded, but the goal is to make the school accessible to students from all communities and all backgrounds in Niagara-on-the-Lake providing tuition assistance through bursaries and scholarships wherever possible.
  %p
    %span Royal Oak's Founding Committee is soliciting input from the community on fees, volunteering, ideas - and we want to answer your questions. Please take our
    =link_to('survey', 'http://www.surveymonkey.com/s/NOTLcommunityschool', target: '_blank')
