%section#committee
  %h2.sub-title Founding Committee
  %p Royal Oak Community School is being founded by a volunteer Founding Committee of Niagara-on-the-Lake residents.
  %ul.seperator-list
    %li
      .row
        =image_tag('foundi1.jpeg', class: 'horiz-center col-sm-2')
        %p.col-sm-10
          %strong Pippa Barwell
          %span has lived in Niagara-on-the-Lake for 12 years and believes strongly in the power of this community. She is passionate about creating the best educational experience for all students and think it is important to do this within a student's own community. She has studied in Utrecht, Netherlands and holds a Bachelor's degree in Psychology and Sociology and a Masters Degree in Educational Science.
    %li
      .row
        =image_tag('foundi0.jpeg', class: 'horiz-center col-sm-2')
        %p.col-sm-10
          %strong Gianna Dritsacos
          %span received her B.Ed. at McGill University in Montreal and has lived in Niagara-on-the-Lake for eight years. Specializing in Kindergarten and Elementary Education, she has taught in both the public and private sectors, from kindergarten to Grade 11, and is fluent in three languages.
    %li
      .row
        =image_tag('foundi9.jpeg', class: 'horiz-center col-sm-2')
        %p.col-sm-10
          %strong Dr. Susan Elliott
          %span who has lived in Niagara-on-the-Lake since 2010, is Executive Director of The Learning Forum/Form D'apprentisage at TFS-Canada's International School. She served previously as Prep School Coordinator at Centre for Learning at Toronto's Upper Canada College. Dr. Elliott is co-author of Connecting the Dots, an inquiry-based guide to sustainability education for teachers, published by the Ontario Ministry of Education. She received her Ph.D. in education at the University of London(UK) and also holds degrees from the University of Toronto, Queen's University and Waterloo University.
    %li
      .row
        =image_tag('brian.jpg', class: 'horiz-center col-sm-2', width: '200px')
        %p.col-sm-10
          %strong Brian Green
          %span has taught at Upper Canada College in Toronto for 13 years. A Niagara-on-the-Lake resident with his wife and daughter, he received his B.Ed. from the University of Windsor and will complete his Masters in Education this August in Education Leadership & Policy Studies from University of Toronto/Ontario Institute for Studies in Education.
    %li
      .row
        =image_tag('foundi8.jpeg', class: 'horiz-center col-sm-2')
        %p.col-sm-10
          %strong David Israelson
          %span is an author, communications advisor, journalist and non-practising lawyer who has lived in Niagara-on-the-Lake since 2010. He contributes frequently to national publications, teaches and provides training internationally and has served as a senior writer in the Office of the Premier of Ontario. David has served on a number of not-for-profit boards.
    %li
      .row
        %p.col-sm-offset-2.col-sm-10
          %strong Melissa Rey
          %span who has moved recently to Niagara-on-the-Lake, has more than 10 years of international teaching experience in both public and private education systems, from preschool to high school. Melissa was the Director of Montessori preschools in Peru and Toronto. She studied the Suzuki music method, plays the violin and speaks five languages.
    %li
      .row
        =image_tag('foundi7.jpeg', class: 'horiz-center col-sm-2')
        %p.col-sm-10
          %strong Robin Ridesic
          %span is President of CARE(Citizens for Accountable and Responsible Education) Niagara and is passionate about local community-based education. Robin is opening The Exchange Brewery on Queen St. in NOTL and is currently a board member of the United Way of St. Catharines & District, The Shaw Fesitval and CAANiagara.
